Source: fogbow-reverse-tunnel
Section: misc
Priority: optional
Maintainer: Francisco Germano <chicog@lsd.ufcg.edu.br>
Build-Depends: debhelper (>= 8), openjdk-7-jdk | openjdk-6-jdk, cdbs, maven | maven2
Standards-Version: 1.0
Homepage: http://fogbowcloud.org

Package: fogbow-green-sitter-server
Architecture: all
Pre-Depends: ${cdbs:Pre-Depends}
Depends: ${misc:Depends},
 ${cdbs:Depends}
Recommends: ${cdbs:Recommends}
Suggests: ${cdbs:Suggests}
Description: Server ssh.
